{
  "extends": ["react-app", "prettier", "plugin:import/warnings"],
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["./node_modules", "./src/"]
      }
    }
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "max-len": ["error", 80]
  }
}
